---
Title: "Data Cleaning and Imputation by Austin Hayes"

Author:
  - Name: Austin Hayes

  -  Email: ahayes65@charlotte.edu

  -  Affiliation: University of North Carolina at Charlotte

Date: June 26, 2025

Description: Using NFL Scouting Combine Event scores from 2004 - 2023, we will learn about data cleaning and imputation in Python.

Categories:
  - Interpreting findings
  - Ethics
  - Importing and Reading data
  - Data Cleaning
  - Data Science
  - Pandas
  - Data Imputation


### Data

This Dataset is from the SCORE Network Data Repository. The authors include: Shane Hauk, Michael Schuckers and Robin Lock

Visit the original data page here: https://data.scorenetwork.org/football/nfl-draft-combine.html

The data set contains 6128 rows and 8 columns. Each row represents a player at the NFL Scouting Combine between 2004 and 2023.

Download data: 

Available on the [Intro to Data Cleaning and Imputation by Austin Hayes](https://github.com/schuckers/Charlotte_SCORE_Summer25/tree/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes): [epl_player_stats_24_25.csv](https://raw.githubusercontent.com/schuckers/Charlotte_SCORE_Summer25/refs/heads/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes/nfl_combine.csv)

---

### Variables and their Descriptions:


<details>
<summary><b>Variable Descriptions</b></summary>

| Variable | Description | 
|----|-------------|
| position | Playing position of the player |
| Round | Round player was drafted in |
| forty | 40-yard dash time |
| vertical | Vertical jump height (inches) |
| bench_reps | 225 bench press reps |
| broad_jump | Broad jump distances (inches) |
| shuttle | 20-yard shuttle time |

</details>

In [1]:
#Import numpy library for numerical operations
import numpy as np

#Import pandas library for data manipulation and analysis
import pandas as pd

# Import linear regression model
from sklearn.linear_model import LinearRegression

### 1. Why would someone want to change the datatype of a column during the data cleaning process?

_ANSWER_: Somebody may want to change a columns datatype in order to complete the data cleaning process like we did during this module. A column may have been incorrectly typed such as a shoe size column. It should be read as a category and not as a numerical quantity. Therefore its data type should NOT be a float, it should be an object. Someone may also want to change a columns datatype in order to achieve specific data filling needs. For example, we used both of these reasons to change the datatype of the 'Round' column during the module. We needed to fill NA values as 'Undrafted' and the 'Round' a player is drafted is interpreted as a category, NOT a quantity/measure.

### 2. Re-read in the ORIGINAL dataset, split it into a complete and missing datasets like we did earlier. Find the median value of the 'bench_reps' column in the missing dataset. Then, use that median value to fill in ALL of the NA values within that column in the missing dataset. Check the number of NA values to make sure they are filled in correctly.

HINT: use .median()

In [15]:
# Re-Read original dataset
combine_data = pd.read_csv('https://raw.githubusercontent.com/schuckers/Charlotte_SCORE_Summer25/refs/heads/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes/nfl_combine.csv')

# Split the dataset into complete and missing datasets
# Complete dataset contains rows with no missing values
complete_data = combine_data.dropna()

# Missing dataset contains rows with at least one missing value
missing_data = combine_data[combine_data.isna().any(axis=1)]

In [16]:
missing_data.head()

,position,Round,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,QB,NaN,4.79,30.5,NaN,110.0,7.66,4.41
1,RB,NaN,4.50,34.0,21.0,121.0,7.09,4.30
2,QB,NaN,4.60,NaN,NaN,NaN,NaN,NaN
3,QB,NaN,4.95,30.0,NaN,119.0,7.44,4.34
4,WR,NaN,4.78,38.0,NaN,118.0,NaN,4.45

In [17]:
# Keep original count of NA's in the 'Bench_Reps' column
original_na_count = missing_data['bench_reps'].isna().sum()

# Print that count
print(original_na_count)

1820

In [18]:
# Fill in all NA values in the 'Bench_Reps' column with the median value
missing_data['bench_reps'] = missing_data['bench_reps'].fillna(missing_data['bench_reps'].median())

C:\Users\austy\AppData\Local\Temp\ipykernel_18556\1966330212.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_data['bench_reps'] = missing_data['bench_reps'].fillna(missing_data['bench_reps'].median())

In [19]:
# Keep original count of NA's in the 'Bench_Reps' column
new_na_count = missing_data['bench_reps'].isna().sum()

# Print that count
print(new_na_count)

0

In [20]:
missing_data.head()

,position,Round,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,QB,NaN,4.79,30.5,20.0,110.0,7.66,4.41
1,RB,NaN,4.50,34.0,21.0,121.0,7.09,4.30
2,QB,NaN,4.60,NaN,20.0,NaN,NaN,NaN
3,QB,NaN,4.95,30.0,20.0,119.0,7.44,4.34
4,WR,NaN,4.78,38.0,20.0,118.0,NaN,4.45

### 3. What does data completeness mean? List some appropriate ways you could achieve data completeness.

Data completeness means that there are NO missing datapoints in the dataset. Every NA value has been addressed appropriately. Some ways you could achieve completeness: Imputation, dropping all rows with missing values (when there is a small amount and depending on the context), changing a column datatype and filling in values (in special cases), etc.

### 4. Which one of the three C's was not implemented in the following dataset? What could be done to fix it? 

| Position | Bench_Reps |
|----------|------------|
| TIGHT END |    35     |
| Quarterback |    25   |
| Tight end |    32     |
| Quarterback |   23    |

Data Consistency was not implemented in this case. All of the 'Position' data entrys are entered with only the first letter capitalized. The first tight end data entry is in all caps which does not adhere to the other entry(s). 'TIGHT END' should be changed to 'Tight end', just like the other tight end entry.

### 5. Use a linear regression model to predict 'bench_reps' for players who, we presume, did NOT participate in benching during the combine.