---
Title: "Data Cleaning and Imputation by Austin Hayes"

Author:
  - Name: Austin Hayes

  -  Email: ahayes65@charlotte.edu

  -  Affiliation: University of North Carolina at Charlotte

Date: June 26, 2025

Description: Using NFL Scouting Combine Event scores from 2004 - 2023, we will learn about data cleaning and imputation in Python.

Categories:
  - Interpreting findings
  - Ethics
  - Importing and Reading data
  - Data Cleaning
  - Data Science
  - Pandas
  - Data Imputation


### Data

This Dataset is from the SCORE Network Data Repository. The authors include: Shane Hauk, Michael Schuckers and Robin Lock

Visit the original data page here: https://data.scorenetwork.org/football/nfl-draft-combine.html

The data set contains 6128 rows and 8 columns. Each row represents a player at the NFL Scouting Combine between 2004 and 2023.

Download data: 

Available on the [Intro to Data Cleaning and Imputation by Austin Hayes](https://github.com/schuckers/Charlotte_SCORE_Summer25/tree/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes): [epl_player_stats_24_25.csv](https://raw.githubusercontent.com/schuckers/Charlotte_SCORE_Summer25/refs/heads/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes/nfl_combine.csv)

---

### Variables and their Descriptions:


<details>
<summary><b>Variable Descriptions</b></summary>

| Variable | Description | 
|----|-------------|
| position | Playing position of the player |
| Round | Round player was drafted in |
| forty | 40-yard dash time |
| vertical | Vertical jump height (inches) |
| bench_reps | 225 bench press reps |
| broad_jump | Broad jump distances (inches) |
| shuttle | 20-yard shuttle time |

</details>

---

## Learning Goals

- Learn about the 3 C's of Data cleaning
- Basic principles of Data Cleaning
- Data Imputation
- Use Pandas for Data Cleaning
- Learning about the Ethics of Data Cleaning

---

# Data Cleaning and the "Three C's"

Data cleaning is an essential part of data science and sports analytics. Most of the time, you need to clean up the dataset before using it because it won't always be in a correct or readable format. This brings us to the "three C's". This is a very important aspect of data science that provides basic guidance on what to look for when undergoing the data cleaning process. 

The three C's stand for:
- Consistent
- Complete
- Correct

_Consistent_: This means that your dataset is correctly formatted in a standardized fashion. All instances are properly formatted into their respective data types and there are no inconsistencies with text casing.

_Complete_: There is no missing data. All missing values have been addressed by filling them with a reasonable substitute, imputation (we will discuss this later) and/or removing the data depending on the context (we will discuss the ethics of this later).

_Correct_: Fixing inconsistent data entrys such as misspelled items, inconceivable outliers and/or ilogical errors such as negative ages.


Let's break these down by diving into the football combine data!

---

# Getting Started

Before we get started let's import pandas so we can read in our data.

NOTE: If one of the import statements does not work, you may need to download the library(s). Visit one of the links below for more information on downloading them.

Pandas: https://pandas.pydata.org/docs/getting_started/install.html 

Numpy: https://numpy.org/install/

Now, lets import our libraries:

In [2]:
# Import necessary libraries

#Import numpy library for numerical operations
import numpy as np

#Import pandas library for data manipulation and analysis
import pandas as pd

In [3]:
# Read the in the NFL Combine data and store it in a DataFrame
combine_data = pd.read_csv('https://raw.githubusercontent.com/schuckers/Charlotte_SCORE_Summer25/refs/heads/main/Data%20for%20Modules/Data%20for%20Intro%20to%20Data%20Cleaning%20and%20Imputation%20by%20Austin%20Hayes/nfl_combine.csv')

---

# Consistency and Correctness

Let's start by examining the first 5 rows of data to get a better look.

In [4]:
# Reveal first 5 rows of the dataset
combine_data.head()

,position,Round,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,QB,NaN,4.79,30.5,NaN,110.0,7.66,4.41
1,RB,NaN,4.50,34.0,21.0,121.0,7.09,4.30
2,QB,NaN,4.60,NaN,NaN,NaN,NaN,NaN
3,QB,NaN,4.95,30.0,NaN,119.0,7.44,4.34
4,WR,NaN,4.78,38.0,NaN,118.0,NaN,4.45

Interesting! Looks like in just the first few rows, there are a lot of missing values.

Before we start deciding what to do with these missing values, let's start by checking the consistentcy. Let's check the datatypes for column and make sure that they align with their values.

In [8]:
# Check the data types of each column to ensure they are consistent with the expected data types
combine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6128 entries, 0 to 6127
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   position    6128 non-null   object
 1   Round       4023 non-null   float64
 2   forty       5751 non-null   float64
 3   vertical    4965 non-null   float64
 4   bench_reps  4308 non-null   float64
 5   broad_jump  4891 non-null   float64
 6   three_cone  3985 non-null   float64
 7   shuttle     4093 non-null   float64
dtypes: float64(7), object(1)
memory usage: 383.1+ KB

Nice! looks like we don't need to change any of the datatypes for this dataset.

Let's go ahead and check the _correctness_ and consistency of the dataset by checking some of the rows. To do this, let's take a look at the first 50 rows.

After running the code block below, examine the dataset to make sure they are correctly formatted and there are no absurd outliers. We also need to check that there are no misspelled positions or capitalization issues.

In [ ]:
# Let's check the first 50 rows of the dataset to ensure correctness and consistency.
# This will help us identify any potential issues with the data formatting or inconsistencies.
combine_data.head(50)

,position,Round,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
0,QB,NaN,4.79,30.5,NaN,110.0,7.66,4.41
1,RB,NaN,4.50,34.0,21.0,121.0,7.09,4.30
2,QB,NaN,4.60,NaN,NaN,NaN,NaN,NaN
3,QB,NaN,4.95,30.0,NaN,119.0,7.44,4.34
4,WR,NaN,4.78,38.0,NaN,118.0,NaN,4.45
5,OT,NaN,5.41,28.0,20.0,104.0,8.24,4.61
6,WR,NaN,4.76,31.5,NaN,116.0,7.41,NaN
7,WR,NaN,4.73,38.0,NaN,128.0,7.10,4.09
8,WR,NaN,4.59,28.5,NaN,111.0,7.24,4.27
9,RB,NaN,4.71,31.5,16.0,108.0,NaN,NaN
10,QB,NaN,4.87,26.5,NaN,110.0,7.69,4.22
11,WR,NaN,4.61,32.5,NaN,118.0,7.16,4.16
12,WR,NaN,4.50,NaN,NaN,NaN,NaN,NaN
13,C,NaN,4.98,30.5,28.0,105.0,7.84,4.52
14,OG,NaN,5.67,23.0,18.0,94.0,8.25,5.12
15,OG,NaN,5.54,26.5,27.0,101.0,8.12,4.55
16,QB,NaN,4.83,30.5,NaN,113.0,7.28,4.18
17,RB,NaN,4.68,34.5,25.0,120.0,7.44,4.25
18,OG,NaN,5.50,26.5,21.0,98.0,8.01,4.82
19,RB,NaN,4.54,33.5,13.0,112.0,7.27,4.07
20,WR,NaN,4.60,31.0,NaN,117.0,6.72,3.94
21,RB,NaN,4.83,30.5,14.0,108.0,NaN,NaN
22,OG,NaN,6.05,NaN,NaN,NaN,8.03,4.86
23,WR,NaN,4.69,35.0,NaN,112.0,NaN,NaN
24,QB,NaN,4.95,NaN,NaN,NaN,NaN,NaN
25,OG,NaN,5.10,NaN,32.0,NaN,NaN,NaN
26,C,NaN,5.25,NaN,19.0,85.0,8.31,4.98
27,WR,NaN,4.56,33.0,NaN,117.0,7.38,4.21
28,TE,NaN,4.89,NaN,12.0,102.0,NaN,NaN
29,WR,NaN,4.46,31.0,NaN,113.0,NaN,NaN
30,C,NaN,5.84,24.0,NaN,93.0,8.09,4.63
31,OG,NaN,5.82,25.5,21.0,93.0,8.38,4.91
32,FB,NaN,4.97,32.5,22.0,114.0,7.50,4.41
33,TE,NaN,4.84,30.0,19.0,106.0,7.51,4.35
34,WR,NaN,4.62,37.0,NaN,121.0,7.06,4.13
35,TE,NaN,5.03,NaN,21.0,114.0,7.33,4.44
36,RB,NaN,4.70,30.5,21.0,115.0,7.25,4.09
37,WR,NaN,4.65,34.0,NaN,122.0,7.12,4.31
38,RB,NaN,4.64,32.0,NaN,114.0,7.41,4.43
39,TE,7.0,4.89,30.0,17.0,106.0,7.86,4.45
40,OT,1.0,5.49,25.0,27.0,98.0,8.25,4.85
41,OT,4.0,5.07,30.5,34.0,106.0,8.09,4.78
42,OG,5.0,5.22,NaN,26.0,NaN,NaN,NaN
43,RB,2.0,4.37,38.5,25.0,117.0,NaN,NaN
44,WR,3.0,4.58,38.0,NaN,128.0,7.34,4.18
45,OT,6.0,5.11,30.5,NaN,105.0,7.96,4.92
46,OG,1.0,5.33,NaN,30.0,NaN,NaN,NaN
47,WR,5.0,4.36,NaN,NaN,NaN,NaN,NaN
48,RB,NaN,4.51,34.5,22.0,112.0,NaN,4.12
49,OT,6.0,5.44,27.0,22.0,101.0,7.56,4.40

Looks quite good! There are no capitalization issues in the position column and all of the numeric values are in float (decimal) format.

This is a massive dataset with over 2000 rows so it may be best to examine it using .describe() from the Pandas library. This will allow us to see statistical information about each column, which will tell us if there are any alarming outliers.

In [9]:
# Check the statistical summary of the dataset to identify any outliers or anomalies
combine_data.describe()

,Round,forty,vertical,bench_reps,broad_jump,three_cone,shuttle
count,4023.000000,5751.000000,4965.000000,4308.000000,4891.000000,3985.000000,4093.000000
mean,3.832712,4.764519,32.838933,20.721681,114.984870,7.265425,4.402817
std,1.931859,0.305037,4.259617,6.394058,9.325569,0.406290,0.263690
min,1.000000,4.220000,17.500000,2.000000,74.000000,6.280000,3.750000
25%,2.000000,4.530000,30.000000,16.000000,109.000000,6.970000,4.210000
50%,4.000000,4.680000,33.000000,21.000000,116.000000,7.170000,4.360000
75%,5.000000,4.960000,36.000000,25.000000,121.000000,7.510000,4.560000
max,7.000000,6.050000,46.500000,49.000000,147.000000,9.040000,5.560000

This looks very good; none of the max/min times seem unrealistic. The only number that stands out to me is the bench rep max of 49 reps. This means that somebody holds the record for 49 reps of 225 bench; that's insane! 

FUN FACT: Stephen Paea is the player who had those 49 bench reps at the combine. He was a DT out of Oregan State and was drafted 53rd overall to the Chicago Bears in 2011.

Finally, we need to examine the completeness of the dataset. Before we address this, we need to talk about the ethical decision-making involved with missing data.

---


# Ethics of Data Completeness



We need to consider WHY the data is missing in the first place. Did they mean for it to be empty? Did they forget to record certain datapoints? Sometimes it can be extremely hard to tell so it is crucial to document some of the assumptions your making. Transparency is key for your interpertations so that users/readers understand your thinking process, which may affect the usage of the dataset. Context is everything with data completeness. With that being said, let's start tackling this dataset.

# Completeness

Building upon the previous sections, there are severl ways to approach this issue but let's start by asking: Why is the data missing? If it was intentionally done, why? 

In this case, any mising data is likely due to non-particpation. In more recent years, more and more athletes have started to skip certain drills or the combine altogether. It also depends on what variable we are refering to. For example, most of the missing numerical variables in this case are more than likely non=participation related. However, missing 'Round' numbers most likely means that specific player went undrafted. Missing 'Position' values are a little harder to interpret. It may be because a player had no official position coming out of the combine and/or they may have played multiple positions in college. A perfect example of this was Travis Hunter in this year's draft because he had played both Cornerback and Wide Receiver in his college career. In this case, we may want to look at how many rows have missing positions. 

Before getting to that, let's make it simple and create a seperate dataframe for the missing values.